.container-1{
  display: flex;
  flex-wrap: wrap; /* so it wraps on small screens */
  justify-content: space-between;
  gap: 50px;
  padding: 20px;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  
}


.box{
  flex: 1 1 calc(33.33% - 50px); /* responsive 3 columns */
  background: #f9f9f9;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  box-sizing: border-box;
  min-width: 250px;
  
}

.box:hover{
  background-color: #45a049;
}

.box img{
  width: 100%;
  height: auto;
  border-radius: 6px;
  object-fit: cover;

}

/*.box p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

.read-btn {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}


.read_more {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}



.box-1{
  flex: 1;
  order: 2;
  
}

.box-2{
  flex: 1;
  order: 1;
}

.box-3{
  flex: 1;
  order: 3 ;
}




.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}











@media (min-width:500px) and (max-width: 700px){
  .container-1{
    display: grid;
    grid-template-columns: 1fr;
  }
}




@media (max-width:500px){
  .container-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
  

